.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media screen  and (max-width: 2000px){
  .custom-width-170 {
    width: 170px;
  }
} 

@media screen  and (max-width: 700px){
  
  .custom-width-170 {
    width: 100px;
  }
} 

@media screen  and (max-width: 550px){
  .custom-width-170 {
    width: 200px;
  }
  .search{
    width:100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  @media (max-width: 150px) {
    .md:flex {
      flex-direction: column;
      align-items: center;


    }

    .md:flex .border {
      width: 100%;
      margin-bottom: 10px; /* Add spacing between elements in new line */
    }
  }

 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
